.envoltorio-tabla{
    width:100%;
    overflow-x:auto;
}
input{
    font-size:9pt;
}
.dots-medium{
    max-width: 80px !important;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}
.dots-big{
    max-width: 150px !important;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}
.dots-small{
    max-width: 30px !important;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}
.dt-buttons{
    width:100%;
}
.clickeable:hover{
    cursor:pointer;
}
.dt-button{
    float:right;
}
.table-container{
    height:500px;
    overflow:auto;
}
thead input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}